body {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: lighter;
}

.bg-success {
    background-color: #C7EA46!important;
    border: #C7EA46;
}

.btn-success {
    background-color: #C7EA46;
    border: #C7EA46;
}
a.btn-success {
    color: #2c3034!important;
    padding: 5px 10px;
}

.btn-success:hover {
    background-color: #7a9533;
    border: #374d26;
}
a.btn-success:hover {
    color: white!important;
}

.btn-info {
    background-color: #0006ab!important;
    border:  #0006ab!important;
}
a.btn-info {
    color: white!important;
    padding: 5px 10px;
}

.btn-info:hover {
    background-color: rgba(0,50,255,0.32) !important;
    border: rgba(0,50,255,0.32) !important;
}
a.btn-info:hover {
    color: #2c3034!important;
}

.timeline-header a,
.breadcrumb li a,
.card-body td:nth-child(1) a{
    color: #0006ab!important;
}
.timeline-header a:hover,
.breadcrumb li a:hover,
.card-body td:nth-child(1) a:hover{
    color: rgba(0,50,255,0.8)!important;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active{
    background-color: #0006ab!important;
}

.accent-primary .btn-link:hover,
.accent-primary .nav-tabs .nav-link:hover,
.accent-primary a:not(.dropdown-item):not(.btn-app):not(.nav-link):not(.brand-link):not(.page-link):not(.btn):not(a.d-block) {
    color: #0006ab!important;
}

.accent-primary .btn-link:hover,
.accent-primary .nav-tabs .nav-link:hover,
.accent-primary a:not(.dropdown-item):not(.btn-app):not(.nav-link):not(.brand-link):not(.page-link):not(.btn):not(a.d-block):hover {
    color: rgba(0,50,255,0.8)!important;
}

.btn-primary, .jazzmin-btn,
.dropdown-item:active,
.dropdown-item.active {
    background-color: #0006ab!important;
    border: #0006ab!important;
}

picture img {
    max-width: 150px!important;
    max-height: 150px!important;
}

.jazzmin-authentication-card-content .jazzmin-btn,
.jazzmin-authentication-card-content .jazzmin-btn:hover,
.jazzmin-authentication-card-content .jazzmin-btn:focus {
    background-color: #0006ab!important;
    border: #0006ab!important;
}

.rotate {
    transform: rotate(180deg);
}