{% extends "registration/base.html" %}

{% load i18n %}
{% load static %}
{% block extrastyles %}
    <link href="{% static "css/admin.css" %}" rel="stylesheet" type="text/css" media="screen,projection" />
{% endblock %}
{% block content %}
    <p class="login-box-msg">{{ jazzmin_settings.welcome_sign }}</p>
    <p class="text-center">
        {% trans "Thanks for spending some quality time with Hotel23 admin panel" %}
    </p>
    <a class="btn {{ jazzmin_ui.button_classes.primary }} btn-block" href="{% url 'admin:index' %}">
        {% trans 'Log in again' %}
    </a>
    <a class="btn {{ jazzmin_ui.button_classes.success }} btn-block" href="{% url 'home' %}">
        {% trans 'Back to the web site' %}
    </a>
{% endblock %}
