{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Feedback</title>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Styles -->
    <link rel="stylesheet" href='{% static "css/styles.css" %}' />
</head>
<body>
    <section class="page-section bg-dark text-light" id="comment">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Feedback</h2>
                <h3 class="section-subheading text-muted">Want to share your experience in our hotel? Leave the feedback here</h3>
            </div>
            <form method="POST" action="{% url 'do_comment' %}" id="comment-form">
                {% csrf_token %}
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                              <label for="name">Name:</label>
                              <input type="text" id="name" name="name" required class="form-control" />
                            </div>
                            <div class="form-group">
                              <label for="surname">Surname:</label>
                              <input type="text" id="surname" name="surname" required class="form-control" />
                            </div>
                            <div class="form-group">
                              <label for="stars">Stars:</label>
                              <div class="rating" id="stars">
                                  <input type="radio" id="star5" name="rating" value="5" />
                                  <label for="star5"></label>
                                  <input type="radio" id="star4" name="rating" value="4" />
                                  <label for="star4"></label>
                                  <input type="radio" id="star3" name="rating" value="3" />
                                  <label for="star3"></label>
                                  <input type="radio" id="star2" name="rating" value="2" />
                                  <label for="star2"></label>
                                  <input type="radio" id="star1" name="rating" value="1" />
                                  <label for="star1"></label>
                              </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                              <label for="comment">Opinion:</label>
                                <textarea type="text" id="comment" name="comment" required class="form-control textarea"></textarea>
                            </div>
                            <div>
                                <button style="opacity: 1!important;" class="btn btn-primary text-uppercase comment-submit" type="submit">Send Message</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
<section class="page-section">
  {% for comment in comments %}
  <div class="row justify-content-center mt-2">
    <div class="col-10">
      <p>{{ comment.created_at|date:'Y M j' }}</p>
      <h3>{{ comment.surname }} {{ comment.name }}</h3>
      <div class="rating">
        {% for i in "54321" %}
          {% if i|add:0 <= comment.rating|add:0 %}
            <span class="star filled">&#9733;</span>
          {% else %}
            <span class="star">&#9734;</span>
          {% endif %}
        {% endfor %}
      </div>
      <p>{{ comment.comment }}</p>
      <hr/>
    </div>
  </div>
  {% endfor %}
</section>


</body>
</html>