<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>hotel23</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href='{% static "css/styles.css" %}' />
        <!-- CSS for calendar -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <h3 class="text-light">Hotel23</h3>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolio">Rooms</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Book now</a></li>
                        <li class="nav-item"><a class="nav-link" href="#feedback">Comments</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#!">Contacts</a>
                            <div class="dropdown-menu text-lowercase" style="background-color: #1e2125;">
                              <a class="dropdown-item copy-me" id="telephone" style="color: #c0c5c0; background: none; position: relative" href="#!">
                                  +48356028026
                              </a>
                              <a class="dropdown-item copy-me" id="mail" style="color: #c0c5c0; background: none;  word-wrap: break-word; white-space: normal;" href="#!">
                                  hotel23comfort@gmail.com
                              </a>
                              <div class="dropdown-divider" style="background-color: #C7EA46"></div>
                              <a class="dropdown-item text-uppercase" style="color: #c0c5c0; background: none;" href="#contact">Book now!</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Welcome To Our Paradise!</div>
                <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
                <a class="btn btn-primary btn-xl text-uppercase" style="opacity: 1 !important;" href="#contact">Book now</a>
            </div>
        </header>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Benefits</h2>
                    <h3 class="section-subheading text-muted">Enjoy our services every day! We are here to make your life easier!</h3>
                </div>
                 <div class="row text-center justify-content-around">
                      <div class="col-md-4 service" onmouseover="enlarge(this)" onmouseout="resetSize(this)">
                        <div class="service-content">
                          <img class="card-img-top" src="{% static "assets/img/services/spa.jpeg" %}">
                          <h4 class="my-3">Spa</h4>
                          <p class="text-muted">Escape to our hotel spa and treat yourself to pure relaxation. Enjoy our pampering massages, refreshing facials, and revitalizing body treatments. Our expert therapists will create a personalized experience just for you, leaving you feeling refreshed and rejuvenated.</p>
                        </div>
                      </div>
                      <div class="col-md-4 service" onmouseover="enlarge(this)" onmouseout="resetSize(this)">
                        <div class="service-content">
                          <img class="card-img-top" src="{% static "assets/img/services/recreation-zone.jpg" %}">
                          <h4 class="my-3">Recreation zone</h4>
                          <p class="text-muted">Discover a haven of recreation at our hotel's leisure zone. Immerse yourself in a range of enjoyable activities, including swimming, fitness classes, and sports facilities. Unwind in a serene environment, where our friendly staff ensures a delightful experience tailored to your preferences.</p>
                        </div>
                      </div>
                      <div class="col-md-4 service" onmouseover="enlarge(this)" onmouseout="resetSize(this)">
                        <div class="service-content">
                          <img class="card-img-top" src="{% static "assets/img/services/restaurant.jpg" %}">
                          <h4 class="my-3">Restaurants</h4>
                          <p class="text-muted">Savor a delightful culinary journey at our hotel's exquisite restaurants. Indulge in a diverse selection of delectable dishes crafted with passion and using the finest ingredients. Whether you crave international flavors or local cuisine, our talented chefs are dedicated to providing you with a memorable dining experience in a warm and inviting ambiance.</p>
                        </div>
                      </div>
                 </div>
            </div>
        </section>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Ready to book?</h2>
                    <h3 class="section-heading" style="font-size: 20px">Check-in possible hours: 1 p.m. - 10 p.m.    Check-out until 10 a.m.</h3>
                    <h3 class="section-subheading text-muted">Select all necessaries, we'll take care of your comfort</h3>
                </div>
                <form method="POST" action={% url 'booking_confirmation' %} id="booking-form" class="booking-form">
                  {% csrf_token %}
                  <div class="container">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="calendar-container">
                          <div class="date-fields">
                            <div class="form-group">
                              <label for="check_in">Check-in Date:</label>
                              <input type="text" id="check_in" name="check_in" readonly class="form-control">
                            </div>

                            <div class="form-group">
                              <label for="check_out">Check-out Date:</label>
                              <input type="text" id="check_out" name="check_out" readonly class="form-control">
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                            <label for="room">Room Type:</label>
                            <select id="room" name="room" required class="form-control">
                              <option value="1">Single comfort</option>
                              <option value="2">Double relax</option>
                              <option value="3">Twin room</option>
                              <option value="4">Double-Double comfort</option>
                              <option value="5">King relax</option>
                              <option value="6">Luxury apartment</option>
                            </select>
                        </div>
                        <div class="form-group">
                          <label for="guests_number">Number of people:</label>
                          <select id="guests_number" name="guests_number" required class="form-control">
                              <option value="1">1 person. Single comfort room</option>
                              <option value="2">2 people. Recommended Double, Twin or King room</option>
                              <option value="3">3 people. Double-Double or Luxury will match your needs</option>
                              <option value="4">4 people. Double-Double or Luxury will match your needs</option>
                              <option value="5">5 people. Our Luxury room is for you!</option>
                            </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="name">Name:</label>
                          <input type="text" id="name" name="name" required class="form-control">
                        </div>

                        <div class="form-group">
                          <label for="surname">Surname:</label>
                          <input type="text" id="surname" name="surname" required class="form-control">
                        </div>

                        <div class="form-group">
                          <label for="phone">Mobile Phone:</label>
                          <input type="tel" id="phone" name="phone" required class="form-control">
                        </div>

                        <div class="form-group">
                          <label for="email">Email:</label>
                          <input type="email" id="email" name="email" required class="form-control">
                        </div>
                      </div>
                      <div class="text-end mt-4">
                            <button style="opacity: 1!important;" class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">Send Message</button>
                      </div>
                    </div>
                  </div>
                </form>
            </div>
        </section>
        <!-- Portfolio Grid-->
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Offers</h2>
                    <h3 class="section-subheading text-muted">Do not know what to choose? Look at our best rooms)</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'assets/img/rooms/1.jpg' %}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Single comfort</div>
                                <div class="portfolio-caption-subheading text-muted">Traveling</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'assets/img/rooms/2.jpg' %}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Double relax</div>
                                <div class="portfolio-caption-subheading text-muted">For tied up coupes</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 3-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'assets/img/rooms/3.jpg' %}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Twin room</div>
                                <div class="portfolio-caption-subheading text-muted">Identity</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                        <!-- Portfolio item 4-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'assets/img/rooms/4.jpg' %}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Double-double comfort</div>
                                <div class="portfolio-caption-subheading text-muted">Hot proposition</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                        <!-- Portfolio item 5-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'assets/img/rooms/5.jpg' %}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">King relax</div>
                                <div class="portfolio-caption-subheading text-muted">Comfort</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <!-- Portfolio item 6-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% static 'assets/img/rooms/6.jpg' %}" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Luxury apartment</div>
                                <div class="portfolio-caption-subheading text-muted">Super comfort</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Feedback -->
        <section class="page-section bg-dark" id="feedback">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase" style="color: white">Feedback</h2>
                    <h3 class="section-subheading text-muted" style="color: white">Visited ouu hotel? Leave a comment here</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{% static 'assets/img/team/1.jpg' %}" alt="..." />
                            <h4>Parveen Anand</h4>
                            <p class="text-muted">Stars: 5</p>
                            <p>Great hotel. I was staying in a king room and I leaved this place fully satisfied</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="{% static 'assets/img/team/2.jpg' %}" alt="..." />
                            <h4>Diana Petersen</h4>
                            <p class="text-muted">Stars: 5</p>
                            <p>Great hotel. I was staying in a king room and I leaved this place fully satisfied</p></div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <div style="position: relative;">
                                <a href="{% url 'feedback' %}">
                                    <img class="mx-auto rounded-circle comment-button" src="#" style="background-color: #C7EA46; display: block;" />
                                    <i class="fas fa-plus fa-3x" style="position: absolute; top: 40%; left: 46% "></i>
                                </a>
                            </div>
                            <div class="mt-5 mb-3">
                            <i class="fa-sharp fa-light fa-arrow-up mt-4" style="color: #ffffff; height: 30px"></i>
                            </div>
                            <p>Click there to leave your opinion :)</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Created by Sheremet Ann</div>
                    <div class="col-lg-4 my-3 my-lg-0 p-4">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none" href="#!">See you!</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Portfolio Modals-->
        <!-- Portfolio item 1 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Single comfort</h2>
                                    <p class="item-intro text-muted">Perfectly suits for solo travelers</p>
                                    <img class="img-fluid d-block mx-auto" src="{% static 'assets/img/rooms/1.jpg' %}" alt="..." />
                                    <p>A single bed, personal space and bathroom included</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Solo player
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Traveling
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Proposition
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 2 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Double relax</h2>
                                    <p class="item-intro text-muted">Book this room to enjoy a weekend with your other half</p>
                                    <img class="img-fluid d-block mx-auto" src="{% static 'assets/img/rooms/2.jpg' %}" alt="..." />
                                    <p>You get double bed, personal bathroom and space to spend time together</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Couple
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Paradise
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Proposition
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 3 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Twin room</h2>
                                    <p class="item-intro text-muted">Soulmates, this room exactly for you!</p>
                                    <img class="img-fluid d-block mx-auto" src="{% static 'assets/img/rooms/3.jpg' %}" alt="..." />
                                    <p>You may expect two comfortable beds, bathroom and working space. </p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Twins, soulmates
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Identity
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Proposition
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 4 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Double-Double comfort</h2>
                                    <p class="item-intro text-muted">Choose this room if your friend a huge beds as you do</p>
                                    <img class="img-fluid d-block mx-auto" src="{% static 'assets/img/rooms/4.jpg' %}" alt="..." />
                                    <p>Two soft massive beds, bathroom, personal space up to 4 people are yours, just book it</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Friends
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Big trip anchor
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Proposition
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 5 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">King room</h2>
                                    <p class="item-intro text-muted">For real kings of this life!</p>
                                    <img class="img-fluid d-block mx-auto" src="{% static 'assets/img/rooms/5.jpg' %}" alt="..." />
                                    <p>The huge bed and even more space are waiting for you!</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            King (or Queen) and companion allowed
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Relax
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Proposition
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 6 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'assets/img/close-icon.svg' %}" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Luxury apartment</h2>
                                    <p class="item-intro text-muted">Maximum identity with home</p>
                                    <img class="img-fluid d-block mx-auto" src="{% static 'assets/img/rooms/6.jpg' %}" alt="..." />
                                    <p>The spacious suit with bathroom, kitchen and perfect view for you. Book this apartment and forget any worries!</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            VIP
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Super comfort
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Proposition
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
        <!-- JS library for calendar-->
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script>
        const checkInField = document.getElementById('check_in');
        const checkOutField = document.getElementById('check_out');

        flatpickr("#check_in", {
          minDate: "today",
          dateFormat: "Y-m-d",
          onClose: function(selectedDates, dateStr, instance) {
            if (selectedDates.length > 0) {
              const checkInDate = selectedDates[0];
              const adjustedCheckInDate = new Date(checkInDate.getTime() + (24 * 60 * 60 * 1000));
              checkInField.value = adjustedCheckInDate.toISOString().split('T')[0];
              flatpickr("#check_out", {
                minDate: adjustedCheckInDate,
                dateFormat: "Y-m-d",
                onClose: function(selectedDates, dateStr, instance) {
                  if (selectedDates.length > 0) {
                    const checkOutDate = selectedDates[0];
                    const adjustedCheckOutDate = new Date(checkOutDate.getTime() + (24 * 60 * 60 * 1000));
                    checkOutField.value = adjustedCheckOutDate.toISOString().split('T')[0];
                  } else {
                    checkOutField.value = '';
                  }
                }
              });
            } else {
              checkInField.value = '';
              checkOutField.value = '';
            }
          }
        });
        </script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
              let dropdownButtons = document.getElementsByClassName("dropdown-toggle");

              Array.from(dropdownButtons).forEach(function(button) {
                button.addEventListener("click", function() {
                  let dropdownMenu = this.nextElementSibling;
                  dropdownMenu.classList.toggle("show");
                });
              });
            });
        </script>
    </body>
</html>
