{% load static %}
<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SuccessPage</title>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Styles -->
    <link rel="stylesheet" href='{% static "css/styles.css" %}' />
</head>
<body>
    <div class="container">
        <div class="alert alert-success mt-5" role="alert">
          <h4 class="alert-heading">Success!!!</h4>
          <h3>Dear {{ booking.name }} {{ booking.surname }}!</h3>
          <p>Your booking request was successfully taken!</p>
          <hr>
          <p class="mb-0">Please, <b>check your email</b> to continue the booking process. There you will get a payment address and all necessary instructions)</p>
        </div>
        <div class="mt-5 mb-3">
            <a href="{% url 'home' %}" style="text-decoration: none; font-size: larger; font-weight: bolder; background-color: #146c43 ">
                <button class="btn btn-success rounded-2">
                    <i class="fa-solid fa-arrow-left"></i>
                    go back...
                </button>
            </a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>